.photo-grid__photos {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(249px, 1fr));
  grid-gap: 16px;
  padding: 0px;
  margin: 0;
}

@media screen and (max-width: 545px) {
  .photo-grid__photos {
    grid-gap: 12px;
  }
}
