.cover__subtitle {
    max-width: 280px;
    margin: 32px 0 32px;
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    
}

.span {

}