.cover__container {
  display: block;
  width: 100%;
  height: 740px;
  background-image: url("../../../images/cover/cover-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;    
}