.lead__title {
  font-size: 96px;
  font-weight: 900;
  max-width: 80%;
  line-height: 1.04;
  text-align: center;
  margin: 90px 0 34px;
}

@media screen and (min-width: 460px) and (max-width: 984px) {
  .lead__title {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 459px) {
  .lead__title {
    max-width: 100%;
    font-size: 40px;
    margin: 51px auto 16px;
  }
}