.cover__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 545px) {
  .cover__info {
    margin-bottom: 80%;
  }
}
